.menu_action > ul {
  display: none;
}

.menu_action:focus-within > ul {
  display: block;
  position: absolute;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 7px;
  min-width: 120px;
  margin-right: auto;
  padding: 3px 5px;
  right: 50px;
  @apply shadow-sm right-[25px] xl:right-[50px] lg:right-[50px];
}

.menu_action:focus-within > ul > li {
  text-align: left;
  padding: 5px 8px;
  border-radius: 7px;
  font-weight: 500;
  margin-bottom: 3px;
  @apply hover:bg-gray-200;
}

.menu_action:focus-within > ul > li:first-child {
  @apply hover:bg-green-50 text-green-600;
}
.menu_action:focus-within > ul > li:last-child {
  @apply hover:bg-red-50;
  color: #f51313;
}

.item_span {
  overflow-y: hidden !important;
  @apply bg-[#f3f8ff] grid-flow-col justify-between auto-cols-max gap-[40px] rounded-[5px] px-4 py-2 mb-1 last:mb-0;
}

.pagination {
  @apply hover:bg-gray-100 mr-1 last:mr-0 w-[25px] h-[25px] xl:w-[35px] xl:h-[35px] lg:w-[30px] lg:h-[30px] flex items-center justify-center font-semibold text-gray-900 text-opacity-80 text-[13px] bg-white border border-opacity-10 rounded-md;
}

.active_pagination {
  @apply rounded-md bg-gray-100;
}
